name: Container_task
on: push

jobs:
  node-docker:
    runs-on: ubuntu-latest
    container: 
      image: node:13.5.0-alpine3.10 #dockerid:image
    steps:
      - name: Log node version
        run: |
          node -v
          cat /etc/os-release


